body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

<<<<<<< HEAD
.date{
  position: absolute;
  z-index:99;
  color: white;
  right: 25px;
  font-size: 24px;
}
=======

:where(.css-dev-only-do-not-override-3mqfnx).ant-card .ant-card-body {
  padding: 0px;
  /* border-radius: 0 0 8px 8px; */
}

.date{
  z-index: 1;
  position: absolute;
  color: white;
  right: 25px;
}
>>>>>>> e0d3c1cfc23f90d6ea07a3f7ad1fb1db8f7559d5
